<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="StepDefinition.CreateContact"/>
      <class name="StepDefinition.DeleteContact"/>
      <class name="StepDefinition.EditContact"/>
      <class name="StepDefinition.RecoveryContact"/>
      <class name="StepDefinition.FilterContact"/>
      <class name="StepDefinition.SecurityContact"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
